.header__nav {
  height: 10vh;
  background-color: $primary-color;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
}
.header__logo h4 {
  padding-left: 30px;
  color: #fff;
  font-family: $playfair-display;
  text-transform: uppercase;
}
.header__menu,
.header__menu-mobile {
  padding: 20px;
  flex: 1.2379;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 64px;
  list-style: none;
}
.header__menu li {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: $plus-jakarta-sans;
  color: $secondary-color;
  cursor: pointer;
}
.header__menu li a {
  color: $color-white;
}
.header__menu {
  gap: 40px;
}
.header__menu li img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

